/* ==========================================================================
   Grey Theme
   ========================================================================== */

.t-purple {

  .c-navigation,
  .c-header {
    background: $c__yellow;
  }

  .c-article__main a:not(.c-btn) {
    color: $c__yellow;
  }

  .c-footer a {
    color: $c__yellow;
  }
}
